<template>
  <div class="error col-lg-10 mx-auto text-center bg-light">
    <h1 class="pt-4 text-danger">Sản phẩm hiện chưa kinh doanh !</h1>
    <h3>Quý khách vui lòng chọn sản phẩm khác !</h3>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.error{
    height:60vh;
}
</style>