<template>
  <ListPhone/>
</template>

<script>
import ListPhone from "../components/ListPhone.vue";
export default {
 data() {
    return {

    };
  },
  components: {
    ListPhone,
 
  },
};
</script>

<style>

</style>